<div
  data-lang-menu
  class="fixed top-16 right-4 z-50 hidden w-56 rounded-2xl border border-white/20 bg-[rgba(63,63,63,0.25)] backdrop-blur-md"
>
  <ul class="flex flex-col gap-4 px-4 py-3">
    <li>
      <button
        class="group flex w-full items-center justify-between gap-8 text-lg transition-colors duration-300"
      >
        <span class="group-hover:font-bold">Қазақша</span>
        <span class="font-bold text-white/20 transition-colors duration-300 group-hover:text-white">
          KZ
        </span>
      </button>
    </li>
    <li>
      <button
        class="group flex w-full items-center justify-between gap-8 text-lg transition-colors duration-300"
      >
        <span class="font-bold group-hover:font-bold">Русский</span>
        <span class="font-bold text-white/20 transition-colors duration-300 group-hover:text-white">
          RU
        </span>
      </button>
    </li>
    <li>
      <button
        class="group flex w-full items-center justify-between gap-8 text-lg transition-colors duration-300"
      >
        <span class="group-hover:font-bold">English</span>
        <span class="font-bold text-white/20 transition-colors duration-300 group-hover:text-white">
          EN
        </span>
      </button>
    </li>
  </ul>
</div>
