<section
  class="mt-10 flex w-full flex-col sm:mt-16 md:mt-22 xl:mt-40"
  aria-labelledby="advantages-section-title"
>
  <h2 class="text-h2 text-gray leading-h3 font-semibold">Наши преимущества</h2>
  <div class="hidden xl:block">
    <div class="mt-10 grid grid-cols-3 gap-x-14 gap-y-15 md:mt-14 xl:mt-20">
      <div class="flex flex-col justify-between">
        <div>
          <h3 class="leading-h3 text-h3 font-medium">
            Глубокое понимание <br />
            рынка и потребностей <br />
            клиентов
          </h3>
          <hr class="mt-10 w-full border-white/20" />
        </div>
        <div>
          <h3 class="leading-h3 text-h3 font-medium">
            Гибкая ценовая политика <br />
            и доступные цены
          </h3>
          <hr class="mt-10 w-full border-white/20" />
        </div>
        <div>
          <h3 class="leading-h3 text-h3 font-medium">
            Прямые поставки <br />
            без посредников
          </h3>
          <hr class="mt-10 w-full border-white/20" />
        </div>
      </div>
      <img
        src="/src/assets/img/pict/advantages-pict.png"
        alt="Advantages image"
        class="h-[534px] w-auto"
      />
      <div class="text-white_gray flex flex-col justify-between">
        <div>
          <p class="text-lg font-medium">
            Проводим детальный анализ рынка <br />
            и потребностей клиентов, чтобы предлагать <br />
            актуальные и эффективные решения.
          </p>
          <hr class="mt-10 w-full border-white/20" />
        </div>
        <div>
          <p class="text-lg font-medium">
            Предлагаем оптимальные цены и условия <br />
            сотрудничества <br />
            для достижения максимальной <br />
            эффективности вашего бизнеса.
          </p>
          <hr class="mt-10 w-full border-white/20" />
        </div>
        <div>
          <p class="text-lg font-medium">
            Сотрудничаем напрямую <br />
            с производителями — исключаем <br />
            посредников, минимизируя все наценки.
          </p>
          <hr class="mt-10 w-full border-white/20" />
        </div>
      </div>
    </div>
  </div>
  <div class="sm:block md:block lg:block xl:hidden">
    <div class="mt-10 grid gap-x-10 gap-y-10 md:grid-cols-2">
      <div class="flex flex-col justify-between gap-4">
        <div>
          <h3 class="leading-h3 text-h3 font-medium">
            Глубокое понимание рынка и потребностей клиентов
          </h3>
          <p class="text-white_gray mt-4 text-lg font-medium">
            Проводим детальный анализ рынка и потребностей клиентов, чтобы предлагать актуальные и
            эффективные решения.
          </p>
          <hr class="mt-4 w-full border-white/20" />
        </div>
        <div>
          <h3 class="leading-h3 text-h3 font-medium">Гибкая ценовая политика и доступные цены</h3>
          <p class="text-white_gray mt-4 text-lg font-medium">
            Предлагаем оптимальные цены и условия сотрудничества для достижения максимальной
            эффективности вашего бизнеса.
          </p>
          <hr class="mt-4 w-full border-white/20" />
        </div>
        <div>
          <h3 class="leading-h3 text-h3 font-medium">Прямые поставки без посредников</h3>
          <p class="text-white_gray mt-4 text-lg font-medium">
            Сотрудничаем напрямую с производителями — исключаем посредников, минимизируя все
            наценки.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img
          src="/src/assets/img/pict/advantages-pict.png"
          alt="Advantages image"
          class="hidden h-[534px] md:block"
        />
      </div>
    </div>
  </div>
</section>
