<section class="my-40 flex w-full flex-col" aria-labelledby="how-do-we-work-section-title">
  <h2 class="text-h2 text-gray leading-14 font-semibold">Как работаем?</h2>
  <div class="mt-20 grid grid-cols-3 gap-x-24 gap-y-10">
    <span class="text-lg leading-7 font-medium">01</span>
    <h3 class="leading-h3 text-h3 font-medium">Завязка</h3>
    <div>
      <p class="text-white_gray text-lg leading-7 font-medium">
        Оставляете заявку на сайте через форму обратной связи, по телефону или через WhatsApp.
      </p>
      <a href="https://wa.me/77001234567" class="button button--whatsapp mt-6"
        >Написать в WhatsApp</a
      >
    </div>
    <hr class="col-span-3 border-white/20" />
    <span class="text-lg leading-7 font-medium">02</span>
    <h3 class="leading-h3 text-h3 font-medium">Консультация</h3>
    <p class="text-white_gray text-lg leading-7 font-medium">
      Мы уточняем детали и предлагаем подходящие решения.
    </p>
    <hr class="col-span-3 border-white/20" />
    <span class="text-lg leading-7 font-medium">03</span>
    <h3 class="leading-h3 text-h3 font-medium">
      Заключение <br />
      договора
    </h3>
    <p class="text-white_gray text-lg leading-7 font-medium">
      Оформляем договор и согласовываем условия сделки.
    </p>
    <hr class="col-span-3 border-white/20" />
    <span class="text-lg leading-7 font-medium">04</span>
    <h3 class="leading-h3 text-h3 font-medium">
      Подготовка <br />
      и оформление
    </h3>
    <p class="text-white_gray text-lg leading-7 font-medium">
      Формируем документы, бронируем транспорт и готовим груз к отправке.
    </p>
    <hr class="col-span-3 border-white/20" />
    <span class="text-lg leading-7 font-medium">05</span>
    <h3 class="leading-h3 text-h3 font-medium">
      Перевозка <br />
      и отслеживание
    </h3>
    <p class="text-white_gray text-lg leading-7 font-medium">
      Организуем транспортировку и контроль в режиме реального времени.
    </p>
    <hr class="col-span-3 border-white/20" />
  </div>
</section>
