<section
  class="my-10 flex w-full flex-col sm:my-16 md:my-22 xl:my-40"
  aria-labelledby="how-do-we-work-section-title"
>
  <h2 class="text-h2 text-gray leading-h3 font-semibold">Как работаем?</h2>
  <div class="hidden md:block">
    <div
      class="mt-10 grid gap-x-12 gap-y-5 md:grid-cols-2 lg:mt-20 lg:grid-cols-3 lg:gap-x-24 lg:gap-y-10"
    >
      <span class="hidden text-lg font-medium lg:block">01</span>
      <h3 class="leading-h3 text-h3 font-medium">Заявка</h3>
      <div>
        <p class="text-white_gray text-lg font-medium">
          Оставляете заявку на сайте через форму обратной связи, по телефону или через WhatsApp.
        </p>
        <a href="https://wa.me/77001234567" class="button button--whatsapp mt-6"
          >Написать в WhatsApp</a
        >
      </div>
      <hr class="col-span-3 border-white/20" />
      <span class="hidden text-lg font-medium lg:block">02</span>
      <h3 class="leading-h3 text-h3 font-medium">Консультация</h3>
      <p class="text-white_gray text-lg font-medium">
        Мы уточняем детали и предлагаем подходящие решения.
      </p>
      <hr class="col-span-3 border-white/20" />
      <span class="hidden text-lg font-medium lg:block">03</span>
      <h3 class="leading-h3 text-h3 font-medium">
        Заключение <br />
        договора
      </h3>
      <p class="text-white_gray text-lg font-medium">
        Оформляем договор и согласовываем условия сделки.
      </p>
      <hr class="col-span-3 border-white/20" />
      <span class="hidden text-lg font-medium lg:block">04</span>
      <h3 class="leading-h3 text-h3 font-medium">
        Подготовка <br />
        и оформление
      </h3>
      <p class="text-white_gray text-lg font-medium">
        Формируем документы, бронируем транспорт и готовим груз к отправке.
      </p>
      <hr class="col-span-3 border-white/20" />
      <span class="hidden text-lg font-medium lg:block">05</span>
      <h3 class="leading-h3 text-h3 font-medium">
        Перевозка <br />
        и отслеживание
      </h3>
      <p class="text-white_gray text-lg font-medium">
        Организуем транспортировку и контроль в режиме реального времени.
      </p>
      <hr class="col-span-3 border-white/20" />
    </div>
  </div>
  <div class="block md:hidden">
    <div class="mt-10 grid gap-x-12 gap-y-5">
      <div>
        <h3 class="leading-h3 text-h3 font-medium">Заявка</h3>
        <p class="text-white_gray mt-4 text-lg font-medium">
          Оставляете заявку на сайте через форму обратной связи, по телефону или через WhatsApp.
        </p>
        <a href="https://wa.me/77001234567" class="button button--whatsapp mt-4"
          >Написать в WhatsApp</a
        >
      </div>
      <hr class="border-white/20" />
      <div>
        <h3 class="leading-h3 text-h3 font-medium">Консультация</h3>
        <p class="text-white_gray mt-4 text-lg font-medium">
          Мы уточняем детали и предлагаем подходящие решения.
        </p>
      </div>
      <hr class="border-white/20" />
      <div>
        <h3 class="leading-h3 text-h3 font-medium">Заключение договора</h3>
        <p class="text-white_gray mt-4 text-lg font-medium">
          Оформляем договор и согласовываем условия сделки.
        </p>
      </div>
      <hr class="border-white/20" />
      <div>
        <h3 class="leading-h3 text-h3 font-medium">Подготовка и оформление</h3>
        <p class="text-white_gray mt-4 text-lg font-medium">
          Формируем документы, бронируем транспорт и готовим груз к отправке.
        </p>
      </div>
      <hr class="border-white/20" />
      <div>
        <h3 class="leading-h3 text-h3 font-medium">Перевозка и отслеживание</h3>
        <p class="text-white_gray mt-4 text-lg font-medium">
          Организуем транспортировку и контроль в режиме реального времени.
        </p>
      </div>
    </div>
  </div>
</section>
