<header id="main-header" class="top-0 w-full">
  <div class="flex w-full items-center justify-between gap-4 py-3 md:py-4 lg:py-5">
    <a href="/" aria-label="GBS homepage" class="shrink-0">
      <img src="/src/assets/img/logo-text.svg" alt="GBS logo with text" class="h-12 w-auto" />
    </a>
    <div class="block flex flex-row items-center justify-center gap-2 lg:hidden">
      <load src="src/layouts/headers/components/header-lang-toggle.html" />
      <load src="src/layouts/headers/components/header-nav-list.html" />
    </div>
    <div class="hidden lg:block">
      <load src="src/layouts/headers/components/header-nav-list.html" />
    </div>
    <div class="hidden lg:block">
      <load src="src/layouts/headers/components/header-lang-toggle.html" />
    </div>
  </div>
</header>
