<header id="sticky-header" class="mg-y sticky top-4 z-50 hidden w-full">
  <div
    class="flex items-center justify-between rounded-2xl border border-white/20 bg-[rgba(63,63,63,0.25)] px-6 py-1 backdrop-blur-xs"
  >
    <a href="/" aria-label="GBS homepage" class="shrink-0">
      <img src="/src/assets/img/logo.svg" alt="GBS logo" class="my-3 h-10 w-auto" />
    </a>
    <load src="src/layouts/headers/components/header-nav-list.html" />
    <load src="src/layouts/headers/components/header-lang-toggle.html" />
  </div>
</header>
