<header id="sticky-header" class="mg-y sticky top-0 z-50 hidden w-full">
  <div
    class="backdrop-blur-8 mx-auto my-4 flex max-w-7xl items-center justify-between rounded-2xl px-6 py-1"
    style="background-color: rgba(63, 63, 63, 0.25)"
  >
    <a href="/" aria-label="GBS homepage" class="shrink-0">
      <img src="src/assets/img/logo.svg" alt="GBS logo" class="h-10 w-auto md:h-[40px]" />
    </a>
    <load src="src/layouts/headers/components/header-nav-list.html" />
    <load src="src/layouts/headers/components/header-lang-toggle.html" />
  </div>
</header>
