<header id="sticky-header" class="fixed top-4 right-0 left-0 z-50 hidden w-full px-4">
  <div
    class="mx-auto flex max-w-[1370px] items-center justify-between rounded-2xl border border-white/20 bg-[rgba(63,63,63,0.25)] px-6 py-1 backdrop-blur-xs"
  >
    <a href="/" aria-label="GBS homepage" class="shrink-0">
      <img src="/src/assets/img/logo.svg" alt="GBS logo" class="my-3 h-10 w-auto" />
    </a>
    <div class="block flex flex-row items-center justify-center gap-2 lg:hidden">
      <load src="src/layouts/headers/components/header-lang-toggle.html" />
      <load src="src/layouts/headers/components/header-nav-list.html" />
    </div>
    <div class="hidden lg:block">
      <load src="src/layouts/headers/components/header-nav-list.html" />
    </div>
    <div class="hidden lg:block">
      <load src="src/layouts/headers/components/header-lang-toggle.html" />
    </div>
  </div>
</header>
