@import 'tailwindcss';

@font-face {
  font-family: 'TT Supermolot Neue';
  src: url('/src/assets/fonts/TT-Supermolot-Neue-Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Classic */
  --color-primary: #02f7eb;

  /* Font */
  --color-white: #ffffff;
  --color-black: #03042c;
  --color-gray: #bababa;
  --color-subtitle: #cccccc;
}

body {
  font-family: 'TT Supermolot Neue', sans-serif;
  background-color: var(--color-black);
}
