<footer class="border-t border-white/20 text-white">
  <div class="my-10 grid grid-cols-2 items-center gap-8">
    <div>
      <a href="/" aria-label="GBS homepage">
        <img src="src/assets/img/big-logo.svg" alt="GBS logo" class="h-[90px] w-auto" />
      </a>
    </div>

    <div class="flex justify-between gap-4">
      <nav aria-label="Footer navigation">
        <ul class="flex flex-col gap-4 text-base leading-6 uppercase">
          <li><a href="/index.html" class="hover:text-primary">Главная</a></li>
          <li><a href="/src/pages/about-us.html" class="hover:text-primary">О нас</a></li>
          <li><a href="/src/pages/devices.html" class="hover:text-primary">Оборудование</a></li>
          <li><a href="/src/pages/services.html" class="hover:text-primary">Услуги</a></li>
          <li><a href="/src/pages/contacts.html" class="hover:text-primary">Контакты</a></li>
        </ul>
      </nav>

      <address class="flex w-80 flex-col gap-5 text-base leading-6">
        <p class="font-semibold uppercase">Свяжитесь с нами</p>
        <p>+7 (727) 240-12-65</p>
        <p>office@gbsgroup.kz</p>
        <p>Каратаева 38А офис 75</p>
      </address>
    </div>
  </div>

  <div class="flex items-center justify-between border-t border-white/20 pt-5 text-sm">
    <p>2025 © Global Business Solutions. Все права защищены.</p>
    <a href="/src/pages/privacy.html" class="hover:text-primary">Политика конфиденциальности</a>
  </div>
</footer>
