<footer class="border-t border-white/20 text-white">
  <div class="my-10 grid grid-cols-4 items-center gap-8 md:grid-cols-2">
    <div class="col-span-1 hidden md:block">
      <a href="/" aria-label="GBS homepage">
        <img
          src="/src/assets/img/big-logo.svg"
          alt="GBS logo"
          class="hidden h-[90px] w-auto md:block"
        />
        <img src="/src/assets/img/logo.svg" alt="GBS" class="h-[90px] w-auto md:hidden" />
      </a>
    </div>

    <div class="col-span-4 flex w-full justify-between gap-4 md:col-span-1">
      <nav aria-label="Footer navigation">
        <ul class="flex flex-col gap-4 text-base uppercase">
          <li><a href="/index.html" class="hover:text-primary">Главная</a></li>
          <li><a href="/src/pages/about-us/about-us.html" class="hover:text-primary">О нас</a></li>
          <li>
            <a href="/src/pages/devices/devices.html" class="hover:text-primary">Оборудование</a>
          </li>
          <li><a href="/src/pages/services/services.html" class="hover:text-primary">Услуги</a></li>
          <li>
            <a href="/src/pages/contacts/contacts.html" class="hover:text-primary">Контакты</a>
          </li>
          <li>
            <a href="/src/pages/d-fend/d-fend.html" class="hover:text-primary">D-fend</a>
          </li>
        </ul>
      </nav>

      <address class="flex flex-col gap-5 text-base not-italic md:w-80">
        <p class="font-semibold uppercase">Свяжитесь с нами</p>
        <p>+7 (727) 240-12-65</p>
        <p>office@gbsgroup.kz</p>
        <p>Каратаева 38А офис 75</p>
      </address>
    </div>
  </div>

  <div class="flex items-center justify-between border-t border-white/20 py-5 text-sm">
    <p>2025 © Global Business Solutions. Все права защищены.</p>
    <a href="/src/pages/privacy/privacy.html" class="hover:text-primary"
      >Политика конфиденциальности</a
    >
  </div>
</footer>
